.directory{

    border-radius: 10px;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:900px)
{
    .directory{
    display: flex;
    flex-direction: column;
    transition: flex-direction 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

}